<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Write a Madlib</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>Fill in the form to see your Disney Madlib!</h1>
      <form action="/DisneyMadLib" method="post">
        <div class="form-group">
          <label for="friendsName1">Enter a friends name</label>
          <input id="friendsName" class="form-control" type="text" name="friendsName1"> 
        </div>
        <div class="form-group">
          <label for="numberOfHours">Enter a number (in hours)</label>
          <input id="numberOfHours" class="form-control" type="text" name="numberOfHours"> 
        </div>
        <div class="form-group">
          <label for="vehicle">Enter a vehicle</label>
          <input id="vehicle" class="form-control" type="text" name="vehicle"> 
        </div>
        <div class="form-group">
          <label for="adjective1">Enter an adjective</label>
          <input id="adjective1" class="form-control" type="text" name="adjective1"> 
        </div>
        <div class="form-group">
          <label for="adjective2">Enter another adjective</label>
          <input id="adjective2" class="form-control" type="text" name="adjective2"> 
        </div>
        <div class="form-group">
          <label for="ingVerb">Enter an ing- verb</label>
          <input id="ingVerb" class="form-control" type="text" name="ingVerb"> 
        </div>
        <div class="form-group">
          <label for="animal">Enter an animal</label>
          <input id="animal" class="form-control" type="text" name="animal"> 
        </div>
        <div class="form-group">
          <label for="adjective3">Enter another adjective</label>
          <input id="adjective3" class="form-control" type="text" name="adjective3"> 
        </div>
        <div class="form-group">
          <label for="pastTenseVerb1">Enter a past tense verb</label>
          <input id="pastTenseVerb1" class="form-control" type="text" name="pastTenseVerb1"> 
        </div>
        <div class="form-group">
          <label for="adjective4">Enter an adjective</label>
          <input id="adjective4" class="form-control" type="text" name="adjective4"> 
        </div>
        <div class="form-group">
          <label for="noun1">Enter a noun</label>
          <input id="noun1" class="form-control" type="text" name="noun1"> 
        </div>
        <div class="form-group">
          <label for="friendsName2">Enter a friends name</label>
          <input id="friendsName2" class="form-control" type="text" name="friendsName2"> 
        </div>
        <div class="form-group">
          <label for="pastTenseVerb2">Enter a past tense verb</label>
          <input id="pastTenseVerb2" class="form-control" type="text" name="pastTenseVerb2"> 
        </div>
        <div class="form-group">
          <label for="pastTenseVerb3">Enter another past tense verb</label>
          <input id="pastTenseVerb3" class="form-control" type="text" name="pastTenseVerb3"> 
        </div>
        <div class="form-group">
          <label for="place">Enter a place</label>
          <input id="place" class="form-control" type="text" name="place"> 
        </div>
        <div class="form-group">
          <label for="verb1">Enter a verb</label>
          <input id="verb1" class="form-control" type="text" name="verb1"> 
        </div>

        <button type="submit" class="btn btn-success">Click here to see your Madlib</button>
      </form>
    </div>
  </body>
</html>