<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Write a Madlib</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>Fill in the form to see your Madlib!</h1>
      <form action="/MadLibs" method="post">
        <div class="form-group">
          <label for="pluralNoun1">Enter a plural noun</label>
          <input id="pluralNoun1" class="form-control" type="text" name="pluralNoun1"> 
        </div>
        <div class="form-group">
          <label for="pluralNoun2">Another plural noun</label>
          <input id="pluralNoun2" class="form-control" type="text" name="pluralNoun2"> 
        </div>
        <div class="form-group">
          <label for="verb1">Enter a verb</label>
          <input id="verb1" class="form-control" type="text" name="verb1"> 
        </div>
        <div class="form-group">
          <label for="noun1">Enter a noun</label>
          <input id="noun1" class="form-control" type="text" name="noun1"> 
        </div>
        <div class="form-group">
          <label for="ingVerb">Enter an -ing verb</label>
          <input id="ingVerb" class="form-control" type="text" name="ingVerb"> 
        </div>
        <div class="form-group">
          <label for="pluralNoun3">Enter a plural noun</label>
          <input id="pluralNoun3" class="form-control" type="text" name="pluralNoun3"> 
        </div>
        <div class="form-group">
          <label for="noun2">Enter a noun</label>
          <input id="noun2" class="form-control" type="text" name="noun2"> 
        </div>
        <div class="form-group">
          <label for="pluralNoun4">Enter a plural noun</label>
          <input id="pluralNoun4" class="form-control" type="text" name="pluralNoun4"> 
        </div>

        <button type="submit" class="btn btn-success">Click here to see your Madlib</button>
      </form>
    </div>
  </body>
</html>