<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Write a Madlib</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <p>Hello everyone!</p>
    <p>Eat some @Model.Cake!</p>
  </body>
</html>